.footer{
    height: 250px;
    background-color: #1a222b;
    z-index: 2;
    width: 100%;
    bottom: 0px;
    position: relative; 
    top: 100%; 
}

.footerContainer{
    height: 200px;
    width: 1850px;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -147%);
    display: flex;
}

.footerDivision{
    position: relative;
    height: 170px;
    width: 550px;
    top: 8%;
    left: 5%;
    text-align: center;
}

.divisionTitle{
    color: #bd2427;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 10px;
}

.linkTxt{
    color: white;
    margin-top: 15px;
    font-size: 21px;
    display: block;
}