.footer{
    height: 250px;
    background-color: #1a222b;
    z-index: 2;
    width: 100%;
    bottom: 0px;
    position: relative; 
    top: 100%; 
}

.footerContainer{
    background-color: crimson;
    height: 200px;
    width: 1850px;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -147%);
    display: flex;
}

.footerDivision{
    position: relative;
    height: 170px;
    width: 550px;
    top: 8%;
    left: 5%;
}

#division1{
    background-color: blueviolet;
}

#division2{
    background-color: rgb(195, 226, 43);
}

#division3{
    background-color: rgb(4, 255, 0);
}

.divisionTitle{
    text-align: center;
    text-decoration: underline;
    color: white;
    font-size: 25px;
    margin-top: 0;
}