.footer{
    height: 250px;
    background-color: #1a222b;
    z-index: 2;
    width: 100%;
    bottom: 0px;
    position: relative; 
    top: 75%; 
    display: inline-block;
}

.footerContainer{
    height: 200px;
    width: 1850px;
    position: sticky;
    display: flex;
    margin-top: 25px;
    margin-left: 25px;
}

.footerDivision{
    position: relative;
    height: 170px;
    width: 550px;
    top: 8%;
    left: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divisionTitle{
    color: #bd2427;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 10px;
}

.linkTxt{
    color: white;
    width: fit-content;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}

@media screen and (max-width: 940px){
    .footer{
        height: 150px;
        top: 140%; 
    }

    .footerContainer{
        background-color: #09ff00;
        height: 100px;
        width: 440px;
        margin-top: 25px;
        margin-left: 25px;
    }

    .footerDivision{
        background-color: blueviolet;
        height: 80px;
        width: 132px;
        top: 10%;
        left: 5%;
    }

    .divisionTitle{
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 10px;
    }
    
    .linkTxt{
        font-size: 7px;
        margin-top: -5px;
        margin-bottom: 10px;
    }
}