.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: #1a222b;
    position: fixed;
    z-index: 10;
    width: 100%;
}

/*
- Has items displayed side-by-side
- Pads the items according to their font size
*/

.brandImg{
    height: 70px;
    width: 140px;
}

.nav-menu{
    position: absolute;
    left: 50%;
    transform: translateX(-56%);
    list-style: none;
    display: flex;
    flex: 1;
    height: 100%;
}

ul li{
    z-index: 2;
    background-color: #1a222b;
    font-size: 30px;
    list-style: none;
    padding: 1rem;
    margin-left: 1rem;
    color: white;
    text-align: center;
    width: 300px;
}

ul li:hover{
    background-color: #14171f;
    cursor: pointer;
}

.hamburger{
    display: none;
}

.icon{
    color: white;
    cursor: pointer;
    scale: 3;
}

/*
- Hides Nav Menu Toggle
*/ 

/* OVERRIDES STYLES ABOVE WHEN REACHING PIXEL THRESHOLD*/
@media screen and (max-width:1100px){
    /*Hides Nav Menu*/
    .nav-menu{
        display: none;
    }

    /*Reveals Nav Menu Toggle*/
    .hamburger{
        display: block;
        flex: 1;
        text-align: right;
    }
}